.main {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-flow: nowrap;
  border: 1px solid #40916c;
  margin: 5vw 10vw 5vw 10vw;
  background-color: #74c69d;
  border-radius: 10px;
}

h1 {
  color: #1b4332;
}

h3 {
  color: #1b4332;
}
